<div style="padding: 30px">

    <h2>Add Employee</h2>

    <form name="regForm" novalidate ng-submit="ctrl.register()" autocomplete="off">

        <div class="form-group">

            <label for="empNo">Employee No:</label>

            <input type="number" id="empNo" name="empNo"
                   class="form-control" ng-model="ctrl.employee.empNo" required>

            <span class="help-block" ng-show="regForm.empNo.$invalid">
                Please enter empNo.</span>

        </div>

        <div class="form-group">

            <label for="firstname">First name:</label>

            <input type="text" id="firstname" name="firstname"
                   class="form-control" ng-model="ctrl.employee.firstname" required>

            <span class="help-block" ng-show="regForm.firstname.$invalid">
                Please enter firstname.</span>

        </div>

        <div class="form-group">

            <label for="lastname">Last name:</label>

            <input type="text" id="lastname" name="lastname"
                   class="form-control" ng-model="ctrl.employee.lastname" required>

            <span class="help-block" ng-show="regForm.lastname.$invalid">
                Please enter lastname.</span>

        </div>

        <div class="form-group">

            <label>Gender:</label>

            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="gender"
                           ng-model="ctrl.employee.gender" value="male" required>Male
                </label>

                <label class="radio-inline">
                    <input type="radio" name="gender"
                           ng-model="ctrl.employee.gender" value="female" required>Female
                </label>

                <span class="help-block" ng-show="regForm.gender.$invalid">
                    Please choose a gender.</span>

            </div>

        </div>

        <div class="form-group">

            <label for="birthday">Birthday:</label>

            <input type="date" id="birthday" name="birthday"
                   class="form-control" ng-model="ctrl.employee.birthday" required>

            <span class="help-block" ng-show="regForm.birthday.$invalid">
                Please choose a birthday.</span>

        </div>

        <div class="form-group">
            <label for="hiredate">Hire date:</label>

            <input type="date" id="hiredate" name="hiredate"
                   class="form-control" ng-model="ctrl.employee.hiredate" required>

            <span class="help-block" ng-show="regForm.hiredate.$invalid">
                Please choose a hire date.</span>

        </div>

        <div class="form-group">

            <button type="submit" class="btn-success form-control"
                    ng-disabled="regForm.$invalid">
                Register
            </button>

        </div>

    </form>

    <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
         ng-class="{'alert-success': ctrl.status.code == 202, 'alert-danger': ctrl.status.code == 400 }">

        <button class="close" data-dismiss="alert">
            <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
            &times;
        </button>

        {{ ctrl.status.message }}

    </div>

</div>